<%= render 'verses/search-masthead' %>

<!-- Icons Grid -->
<section class="features-icons bg-light text-center">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
          <div class="features-icons-icon d-flex">
            <i class="icon-organization m-auto text-primary"></i>
          </div>
          <h3>Study by Topic</h3>
          <p class="lead mb-0">We've tagged every verse of Proverbs to make studying topically easy.</p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
          <div class="features-icons-icon d-flex">
            <i class="icon-eyeglass m-auto text-primary"></i>
          </div>
          <h3>Easy Searching</h3>
          <p class="lead mb-0">Search the text by keyword, chapter, verse, or topic.</p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="features-icons-item mx-auto mb-0 mb-lg-3">
          <div class="features-icons-icon d-flex">
            <i class="icon-book-open m-auto text-primary"></i>
          </div>
          <h3>Multiple Translations</h3>
          <p class="lead mb-0">Compare different translations of the verses you're studying.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Image Showcases -->
<section class="showcase">
  <div class="container-fluid p-0">
    <div class="row no-gutters">

      <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url(<%= image_url('bible-glasses.jpg') %>);"></div>
      <div class="col-lg-6 order-lg-1 my-auto showcase-text">
        <h2>Study Proverbs with purpose.</h2>
        <p class="lead mb-0">
          The goal of the book of Proverbs is to learn wisdom. Our goal is to make the process of gleaning
          knowledge and instruction simple and for our users to learn the fear of the LORD by studying a
          little each day.
        </p>
      </div>
    </div>
    <div class="row no-gutters">
      <div class="col-lg-6 text-white showcase-img" style="background-image: url(<%= image_url('inspiring-mountains.jpg') %>);"></div>
      <div class="col-lg-6 my-auto showcase-text">
        <h2>The value of studying topically.</h2>
        <p class="lead mb-0">
          Most of the scriptures are best studied in their specific, written context. However, the Proverbs
          often spread the breadth of their wisdom on a given topic across multiple chapters. Qohelet is
          designed to help gather the wisdom Proverbs holds on a given topic into a single place so that
          we might gain insight and grow in the fear of the LORD.
        </p>
      </div>
    </div>
    <div class="row no-gutters">
      <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url(<%= image_url('orange-notebook.jpg') %>);"></div>
      <div class="col-lg-6 order-lg-1 my-auto showcase-text">
        <h2>Read a chapter a day.</h2>
        <p class="lead mb-0">
          The book of Proverbs has the unique structure of having 31 chapters. Conveniently, most months
          throughout the year, you can read the whole book just by reading a chapter a day. Qohelet encourages
          this practice. If Solomon, the wisest man to ever live, asked the LORD for wisdom, we will never
          outgrow our need to gain more.
        </p>
      </div>
    </div>
  </div>
</section>

<!-- Call to Action -->
<section class="call-to-action text-white text-center">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-xl-9 mx-auto">
        <h2 class="mb-4">Ready to get started? Sign up now!</h2>
      </div>
      <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
        <form>
          <div class="form-row">
            <div class="col-12 col-md-9 mb-2 mb-md-0">
              <input type="email" class="form-control form-control-lg" placeholder="Enter your email...">
            </div>
            <div class="col-12 col-md-3">
              <button type="submit" class="btn btn-block btn-lg btn-primary">Sign up!</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>


  </body>

</html>
